@page
@model LoginTester.Pages.RegisterModel
@{
}

<div>
    <h3>Register</h3>
</div>
<form method="post" style="border:solid 1px">
    <div>
        <table>
            <tr>
                <td><input placeholder="First Name" type="text" asp-for="user.FirstName"/></td>
                <td><input placeholder="Last Name" type="text" asp-for="user.LastName" /></td>
                <td><input placeholder="Cpf" type="text" asp-for="user.Cpf" /></td>
                <td>
                    <select>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Undefined">Undefined</option>
                    </select>
                </td>
                <td><input placeholder="Birthday" type="date" asp-for="user.Birthday" /></td>
            </tr>
        </table>
    </div>
</form>
<form method="post" style="border:solid 1px">
    <div>
        <table>
            <tr>
                <td><input placeholder="Email" type="email" asp-for="user.Email" /></td>
                <td><input placeholder="Login" type="text" asp-for="user.Login" /></td>
                <td><input placeholder="Password" type="password" asp-for="user.Password" /></td>
                <td><input placeholder="Confirm Password" type="password" /></td>
            </tr>
        </table>
    </div>
</form>
<form method="post" style="border:solid 1px">
    <div>
        <table>
            <tr>
                <td><input placeholder="CEP" type="text" asp-for="user.Cep" /></td>
                <td><input placeholder="Street" type="text" asp-for="user.Street" /></td>
            </tr>
        </table>
    </div>
</form>
<form method="post" style="border:solid 1px">
    <div>
        <table>
            <tr>
                <td><input type="submit" value="Cancel" asp-page-handler="Cancel" /></td>
                <td><input type="submit" value="Clear All" asp-page-handler="ClearAll" /></td>
                <td><input type="submit" value="Confirm" asp-page-handler="Confirm" /></td>
            </tr>
        </table>
    </div>
</form>